* {
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.electorate-map {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.electorate {
  height: 30px;
  width: 30px;
}

.data-selector h5:nth-child(n+2) {
  margin-top: 20px;
}

.data-selector label {
  width: 100%;
}

.dataset-button {
  padding-left: 0px;
}
